<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Hub</title>
  <link rel="stylesheet" href="..\static\style.css">
</head>
<body class="center">

  <main class="hub">
    <h1>Portfolio</h1>
    <p>Scegli</p>

    <div class="hub-cards">

      <a href="friends" class="hub-card">
        <h2>👥 Amici</h2>
        <p>Versione personale, senza filtri</p>
      </a>

      <a href="professional" class="hub-card">
        <h2>💼 Professionale</h2>
        <p>Per recruiter e aziende</p>
      </a>

      <a href="public" class="hub-card">
        <h2>🌍 Pubblico</h2>
        <p>Versione pubblica per internet</p>
      </a>

    </div>
  </main>

</body>
</html>