<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Hub</title>
  <link rel="stylesheet" href="..\static\style.css">
</head>




<header class="hero">
    <div class="hero-inner">
        <div class="hero-text">
            <h1 class="hero-title">Portfolio</h1>
            <p class="hero-subtitle">di gieffe2411</p>
            <input type="button" class="button-scrolldown" onClick="document.getElementById('middle').scrollIntoView();" value="Scopri di più →" />
        </div>

        <div class="hero-avatar-wrap">
            <img src="../static/images/profile.jpg" class="hero-avatar" alt="Profile picture">
        </div>
    </div>
</header>






<body class="gradient">

  <main class="hub">

    <div id="middle" class="hub-cards">


      <section class="section-left">
        <div class="card-home">
          <h2><ul><li>Public</li></ul></h2>
          <p>
            Sezione dedicata agli amici, dove puoi trovare informazioni su di me e sui miei progetti.
          </p>
          <a href="friends" class="project-link">Scopri di più →</a>
        </div>
      </section>





      <section class="section-left">
        <div class="card-home">
          <h2><ul><li>Public</li></ul></h2>
          <p>
            Sezione dedicata agli amici, dove puoi trovare informazioni su di me e sui miei progetti.
          </p>
          <a href="public" class="project-link">Scopri di più →</a>
        </div>
      </section>

      <section class="section-left">
        <div class="card-home">
          <h2><ul><li>Public</li></ul></h2>
          <p>
            Sezione dedicata agli amici, dove puoi trovare informazioni su di me e sui miei progetti.
          </p>
          <a href="friends" class="project-link">Scopri di più →</a>
        </div>
      </section>

    </div>
  </main>

</body>
</html>