<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Portfolio Professionale</title>
  <link rel="stylesheet" href="..\static\style.css">
</head>
<body class="page professionale">

<a href="/" class="back">← Torna indietro</a>

<h1>Portfolio Professionale!</h1>

<p>Sviluppatore di sviluppazione per sviluppo</p>

<h2>Competenze</h2>
<ul>
  <li>quello la</li>
  <li>quello cola</li>
  <li>quello pepsi</li>
</ul>

<h2>Progetti</h2>
<ul>
  <li>1</li>
  <li>2</li>
  <li>3</li>
</ul>

</body>
</html>